<form action="/add" method="post">
    <p>nome</p>
    <input type="text" name="titulo">
    <p>Descrição</p>
    <textarea name="conteudo"></textarea>
    <button type="submit">Enviar</button>
</form>